/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

#rotate{
float					:	left;
width					:	700px;
margin-top				:	12px;
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin-top: 10px;
	margin-left:15px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
font					:	bold 11px Tahom;
width					:	187px;
color					:	#ffffff;
float					:	left;
height					:	25px;
line-height				:	25px;
text-align				:	center;
text-transform			:	uppercase;
width					:	187px;
margin-left				:	5px; 
}
.ui-tabs-nav a, .ui-tabs-nav a span {
	font:bold 11px Verdana;
	color:#ffffff;
    display: block;
   	width:187px;
	height:25px;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
	width					:	187px;
    font					:	bold 11px Tahoma;
	color					:	#ffffff;
    line-height				: 	25px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */

}
.ui-tabs-nav li a span:hover {
background				:	url(../images/profiletxt_bg.jpg) left top no-repeat;
width:187px;
height:25px;
color					:	#f7c53d;
}

.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
}
.ui-tabs-nav a span {
    width: 187px; /* IE 6 treats width as min-width */
   
    height: 25px; /* IE 6 treats height as min-height */
   
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: 187px;
    height: 25px;
}


.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
	width:187px;
	height:25px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
	background				:	url(../images/profiletxt_bg.jpg) left top no-repeat;
	
	
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
	
	
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
	
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;

	
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    background				:	url(../images/profiletxt_bg.jpg) left top no-repeat;
	width:187px;
	height:25px;
	color:#f7c53d;
	
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
	color:#f7c53d;
	
	
}

.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
	
}

